h1 {
    font-size: 60px;


}

h3 {
    font-size: 100px;


}

.familiatexto {
    font-family: "papyrus";
    font-size: 15px;
    color: #091FF6;
    text-align: justify;

}

body {
    background-color: grey;
    
}

.estilo1 {
background-color:green;

}

.estilo2 {
    background-color: blue;
    
    }

    .imagendefondo{
background-image: url(img/Medellin.jpg);
background-attachment: fixed;
height:400px;
 }

 .textorojo{
     color:red;
 }